.header {
  background-color: $primary-color;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &_menu {
    display: flex;
    ul {
      display: flex;
      margin-bottom: 0px;
      margin-right: 40px;
      li {
        line-height: 54px;
      }
      a {
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        color: $primary-font-color;
        text-decoration: none;
        padding: 0px 14px;
      }
    }
  }
}

@media only screen and (max-width: 769px) {
  .header_logo {
    img {
      height: 40px;
    }
  }

  .header {
    position: relative;
    nav {
      flex-direction: column;
      position: absolute;
      padding-left: 40px;
      top: 94px;
      width: 100%;

      background-color: #202020;
      padding-right: 40px;
      transition: 0.3s;

      display: none;
      min-height: 80vh;
      left: 0;
      .btn {
        margin-top: 50px;
      }
      &.openMobileNav {
        display: block;
      }
      ul {
        flex-direction: column;
      }
    }
  }
}
